@page "/solicitudDetalle/{id:int}/{urlOrigen}/{estatus:int}"
@inject Services.IPaqueteService Service
@inject Services.IGeneralService ServiceGeneral
@inject Services.IValidacionesExternasService ServiceValidacion
@inject LocalStorage LocalStorage

<div class="mbz-card-ficha">

    <div id="regresar" class="">
        <div class="mt-3 mb-3">
            <a href="javascript: void(0);" @onclick="@OnRegresar">
                <img src="../image/Flecha-back.png" />
            </a>
        </div>
    </div>

    <div id="titulo" class="">
        <div class="mbz-font-STextOffice-B-20 mbz-text-secondary mt-3 mb-3">
            <span>Detalles del cliente</span>
        </div>
    </div>

    <SpinLoader IsLoading="isLoadingModel">
        <LoadingTemplate>
            <div class="mbz-card-ficha-carnet">
                <br />
                <CircleFade Center="true" Size="50px" Color="#232F3B"></CircleFade>
                <br />
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            @if (model != null)
            {
                <div id="idCarnet" class="mbz-card-ficha-carnet">
                    <table class="mbz-font-STextOffice-12 mbz-text-dark" style="">
                        <tbody>
                            <tr id="r1" style="vertical-align:top">
                                <td style="width: 178px;">
                                </td>
                                <td style="width: 14px;">
                                </td>
                                <td style="width: 346px;">
                                    <div class="d-flex">
                                        <div class="mbz-w-10p mbz-font-STextOffice-B-10">
                                            <span>Folio:</span>
                                        </div>
                                        <div class="mbz-w-90p mbz-font-STextOffice-10">
                                            <span>@(model == null ? "" : model.Folio)</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 24px;">
                                </td>
                                <td style="width: 357px;" rowspan="2">
                                    <div>
                                        <div class="d-flex">
                                            <div class="mbz-w-45p">
                                            </div>
                                            <div class="mbz-w-25p mbz-font-STextOffice-B-10">
                                                <span>Fecha de captura:</span>
                                            </div>
                                            <div class="mbz-w-30p mbz-font-STextOffice-10">
                                                <span>@model.FechaCaptura.ToString("dd/MM/yyyy hh:mm tt")</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="mbz-w-45p">
                                            </div>
                                            <div class="mbz-w-25p mbz-font-STextOffice-B-10">
                                                <span>Fecha de envío:</span>
                                            </div>
                                            <div class="mbz-w-30p mbz-font-STextOffice-10">
                                                <span>@model.FechaEnvio.ToString("dd/MM/yyyy hh:mm tt")</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="mbz-w-45p">
                                            </div>
                                            <div class="mbz-w-25p mbz-font-STextOffice-B-10">
                                                <span>Última consulta:</span>
                                            </div>
                                            <div class="mbz-w-30p mbz-font-STextOffice-10">
                                                <span>@DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr id="r2" style="vertical-align:top">
                                <td class="text-center" style="" rowspan="3">
                                    <div style="">
                                        @if (existeFotoCamara)
                                        {
                                            foreach (var item in validacionComparacionFacial.Fotos)
                                            {
                                                if (item.FotoOrigenId == 1)
                                                {
                                                    <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Imagen)" style="max-width: 150px; max-height: 220px;" />
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <img src="../image/nofoto.png" style="max-width: 150px; max-height: 220px;" />
                                        }

                                    </div>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div class="mbz-w-100p mbz-font-STextOffice-B-22" style="height: 25px;">
                                            <span>@model.SolicitanteNombre</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="mbz-w-100p mbz-font-STextOffice-B-22" style="height: 25px;">
                                            <span>@model.SolicitanteApellidoPaterno @model.SolicitanteApellidoMaterno</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr id="r3">
                                <td>
                                </td>
                                <td>
                                    <div class="">
                                        <div class="mbz-w-100p mbz-font-STextOffice-B-12 mbz-text-info">
                                            <span>@model.TipoCliente</span>
                                        </div>
                                        <div>
                                            <hr class="mbz-hr" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td style="" rowspan="3">
                                    <div id="map" style="width: 357px; height: 220px;">
                                        @if (!string.IsNullOrEmpty(model.HtmlGeoReferencia))
                                        {
                                            <iframe srcdoc="@(model.HtmlGeoReferencia)" src="data:text/html;" style="width: 100%; height: 100%; border: none; "></iframe>
                                        }
                                        else
                                        {
                                            <img src="../image/noubicacion.png" style="width: 357px; height: 220px;" />
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr id="r4">
                                <td>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div class="mbz-w-50p mbz-font-STextOffice-B-12">
                                            <span>Edad</span>
                                        </div>
                                        <div class="mbz-w-50p mbz-font-STextOffice-B-12">
                                            <span>CURP</span>
                                        </div>
                                    </div>
                                    <div class="d-flex pb-3">
                                        <div class="mbz-w-50p">
                                            <span>@model.Edad años</span>
                                        </div>
                                        <div class="mbz-w-50p">
                                            <span>@model.Curp</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="mbz-w-50p mbz-font-STextOffice-B-12">
                                            <span>Fecha de nacimiento</span>
                                        </div>
                                        <div class="mbz-w-50p mbz-font-STextOffice-B-12">
                                            <span>Celular</span>
                                        </div>
                                    </div>
                                    <div class="d-flex pb-3">
                                        <div class="mbz-w-50p">
                                            <span>@model.FechaNacimiento?.ToString("dd/MM/yyyy")</span>
                                        </div>
                                        <div class="mbz-w-50p">
                                            <span>@model.Telefono</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="mbz-w-50p mbz-font-STextOffice-B-12">
                                            <span>Correo electrónico</span>
                                        </div>
                                        <div class="mbz-w-50p">
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="mbz-w-50p">
                                            <span>@model.CorreoElectronico</span>
                                        </div>
                                        <div class="mbz-w-50p">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr id="r5">
                                <td colspan="3">
                                    <div class="pt-2 pb-2">
                                        <hr class="mbz-hr" />
                                    </div>
                                </td>
                            </tr>
                            <tr id="r6" style="vertical-align: top;">
                                <td class="text-center">
                                    <div class="mbz-font-STextOffice-B-12 mbz-text-info" style="display:none;">
                                        <span>Buró de credito</span>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                </td>
                            </tr>
                            <tr id="r7" style="vertical-align:top">
                                <td class="text-center">
                                    <div class="mbz-font-STextOffice-B-14 pt-2" style="display:none;">
                                        <a href="javascript: void(0);">
                                            <div>
                                                <span class="mbz-span-sem-verde mbz-span-sem-56 mbz-text-white p-3">
                                                    Ver
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                                <td>
                                    <div></div>
                                </td>
                                <td>
                                    <div>
                                        <div class="d-flex">
                                            <div class="mbz-w-20p mbz-font-STextOffice-B-10">
                                                <span>Domicilio de</span>
                                            </div>
                                            <div class="mbz-w-65p mbz-font-STextOffice-10">
                                                <span>@model.CoordenadasGps</span>
                                            </div>
                                            <div class="mbz-w-15p">
                                            </div>
                                        </div>
                                        <div class="d-flex pb-2">
                                            <div class="mbz-w-20p mbz-font-STextOffice-B-10">
                                                <span>transacción:</span>
                                            </div>
                                            <div class="mbz-w-65p mbz-font-STextOffice-10">
                                                <span>Latitud y longitud</span>
                                            </div>
                                            <div class="mbz-w-15p">
                                            </div>
                                        </div>
                                        <div class="d-flex pb-3">
                                            <div class="mbz-w-20p mbz-font-STextOffice-B-10">
                                                <span>Domicilio</span>
                                            </div>
                                            <div class="mbz-w-65p mbz-font-STextOffice-10">
                                                <span>@model.DireccionCompleta</span>
                                            </div>
                                            <div class="mbz-w-15p">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </ContentTemplate>
    </SpinLoader>

    @if (model != null)
    {
        <div id="idSemaforos">

            <div class="m-5"></div>

            <div class="pt-2 pb-2">
                <span class="mbz-font-STextOffice-B-20">Lista negra</span>
            </div>

            <SpinLoader IsLoading="isLoadingModel">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloListaNegra" Semaforo="@(model == null ? null : model.Validaciones.SemaforoListaNegra)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (model != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoListaNegra" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloListaNegra</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    @if (model.ListaNegra == null)
                                    {
                                        @if (model.Estatus != "Finalizada")
                                        {
                                            <button type="button" class="btn mbz-btn-danger mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="(() => OnListaNegra())">Agregar</button>
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarListaNegra = !mostrarListaNegra">
                                            @if (mostrarListaNegra)
                                            {
                                                <span>Ocultar</span>
                                            }
                                            else
                                            {
                                                <span>Ver</span>
                                            }
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>@if (mostrarListaNegra)
                        {
                            <SemaforoListaNegra Model="model.ListaNegra"></SemaforoListaNegra>
                        }
                    }
                </ContentTemplate>
            </SpinLoader>

            <div class="m-4"></div>

            <div class="pt-2 pb-2">
                <span class="mbz-font-STextOffice-B-20">Semáforos</span>
            </div>

            <SpinLoader IsLoading="isLoadingModel">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloScoreIBMS" Semaforo="@(model == null ? null : model.Validaciones.SemaforoIBMS)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (model != null)
                    {
                        <div class="mbz-card-ficha-sem" style="display: none;">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoIBMS" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloScoreIBMS</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    @if (model.Validaciones.ResultadoIBMS != null)
                                    {
                                        <div @ref="divProgressScore" class="progress-box" style="width: 64px;">
                                            <div>
                                                <svg width="64" height="64">
                                                    <circle r="25" cx="33" cy="33" class="progress-circle-back"></circle>
                                                    <circle r="25" cx="31" cy="33" class="progress-circle"></circle>
                                                </svg>
                                            </div>
                                            <div class="progress-percentage" style="left: -64px;">
                                                <p class="percentage-circle" style="height: 0px; width: 64px;">@model.Validaciones.ResultadoIBMS%</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <span>@model.Validaciones.ResultadoIBMS %</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </ContentTemplate>
            </SpinLoader>

            <SpinLoader IsLoading="isLoadingIdentificacion">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloIdentificacion" Semaforo="@(model == null ? null : model.Validaciones.SemaforoIdentificacion)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionIdentificacion != null && validacionIdentificacion.Resultado != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@validacionIdentificacion.Resultado.Semaforo" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloIdentificacion</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                            @onclick="@OnMostrarIdentificacion"
                                            disabled=@isLoadingIdentificacion>
                                        <span>@(mostrarIdentificacion ? "Ocultar" : "Ver")</span>
                                    </button>
                                </div>
                            </div>
                            <div style="@(mostrarIdentificacion ? string.Empty: "display: none")">
                                <SemaforoIdentificacion Model="@validacionIdentificacion"></SemaforoIdentificacion>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloIdentificacion" TipoRecarga="@TipoSemaforo.Identificacion" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            @if (model.Validaciones.ValidarIne)
            {
                <SpinLoader IsLoading="isLoadingIne">
                    <LoadingTemplate>
                        <SemaforoEspera Texto="@_TituloIne" Semaforo="@(model == null ? null : model.Validaciones.SemaforoIne)"></SemaforoEspera>
                    </LoadingTemplate>
                    <ContentTemplate>
                        @if (validacionIne != null)
                        {
                            <div class="mbz-card-ficha-sem">
                                <div class="mbz-ficha-sem-row">
                                    <div class="mbz-ficha-sem-1">
                                        <SemaforoColor NombreSemaforo="@validacionIne.semaforo" Estilo="mbz-span-sem-36"></SemaforoColor>
                                    </div>
                                    <div class="mbz-ficha-sem-2">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloIne</span>
                                    </div>
                                    <div class="mbz-ficha-sem-3">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarIne = !mostrarIne">
                                            <span>@(mostrarIne ? "Ocultar" : "Ver")</span>
                                        </button>
                                    </div>
                                </div>
                                <div style="@(mostrarIne ? string.Empty : "display: none")">
                                    <SemaforoIne ModelCap="@model.Ine" Model="@validacionIne"></SemaforoIne>
                                </div>
                            </div>
                        }
                        else
                        {
                            <SemaforoError Texto="@_TituloIne" TipoRecarga="@TipoSemaforo.Ine" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                        }
                    </ContentTemplate>
                </SpinLoader>
            }

            <SpinLoader IsLoading="isLoadingComparacionFacial">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloComparacionFacial" Semaforo="@(model == null ? null : model.Validaciones.SemaforoFacial)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionComparacionFacial != null && validacionComparacionFacial.Resultado != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@validacionComparacionFacial.Resultado.Semaforo" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloComparacionFacial</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                            @onclick="@OnMostrarComparacionFacial"
                                            disabled=@isLoadingComparacionFacial>
                                        <span>@(mostrarComparacionFacial ? "Ocultar" : "Ver")</span>
                                    </button>
                                </div>
                            </div>
                            <div style="@(mostrarComparacionFacial ? string.Empty: "display: none")">
                                <SemaforoComparacionFacial Model="@validacionComparacionFacial"></SemaforoComparacionFacial>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloComparacionFacial" TipoRecarga="@TipoSemaforo.ComparacionFacial" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            <SpinLoader IsLoading="isLoadingComparacionHuellas">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloHuellas" Semaforo="@(model == null ? null : model.Validaciones.SemaforoAfis)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionComparacionHuellas != null && validacionComparacionHuellas.Resultado != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@validacionComparacionHuellas.Resultado.Semaforo" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloHuellas</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                            @onclick="@OnMostrarHuellas"
                                            disabled=@isLoadingComparacionHuellas>
                                        <span>@(mostrarHuellas ? "Ocultar" : "Ver")</span>
                                    </button>
                                </div>
                            </div>
                            <div style="@(mostrarHuellas ? string.Empty: "display: none")">
                                <SemaforoHuellas Model="@validacionComparacionHuellas" OnAccion="@OnAccion"></SemaforoHuellas>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloHuellas" TipoRecarga="@TipoSemaforo.Huellas" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            <SpinLoader IsLoading="isLoadingCorreo">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloCorreo" Semaforo="@(model == null ? null : model.Validaciones.SemaforoCorreo)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionCorreo != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoCorreo" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloCorreo</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    @if (validacionCorreo != null)
                                    {
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarCorreo = !mostrarCorreo">
                                            <span>@(mostrarCorreo ? "Ocultar" : "Ver")</span>
                                        </button>
                                    }
                                </div>
                            </div>
                            @if (mostrarCorreo)
                            {
                                <SemaforoCorreo Correo="@validacionCorreo" FechaConsulta="@model.Validaciones.FechaCorreo"></SemaforoCorreo>
                            }
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloCorreo" TipoRecarga="@TipoSemaforo.Correo" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            <SpinLoader IsLoading="isLoadingTelefono">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloTelefono" Semaforo="@(model == null ? null : model.Validaciones.SemaforoTelefono)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionTelefono != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoTelefono" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloTelefono</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    @if (validacionTelefono != null)
                                    {
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarTelefono = !mostrarTelefono">
                                            <span>@(mostrarTelefono ? "Ocultar" : "Ver")</span>
                                        </button>
                                    }
                                </div>
                            </div>
                            <div style="@(mostrarTelefono ? string.Empty: "display: none")">
                                <SemaforoTelefono Model="@validacionTelefono"></SemaforoTelefono>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloTelefono" TipoRecarga="@TipoSemaforo.Telefono" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            <SpinLoader IsLoading="isLoadingCurp">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloCurp" Semaforo="@(model == null ? null : model.Validaciones.SemaforoCurp)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionCurp != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoCurp" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloCurp</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarCurp = !mostrarCurp">
                                        <span>@(mostrarCurp ? "Ocultar" : "Ver")</span>
                                    </button>
                                </div>
                            </div>
                            <div style="@(mostrarCurp ? string.Empty: "display: none")">
                                <SemaforoCurp Model="@validacionCurp"></SemaforoCurp>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloCurp" TipoRecarga="@TipoSemaforo.Curp" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            @if (_documentoIdComprobanteDomicilio > 0)
            {
                <SpinLoader IsLoading="isLoadingComprobanteDomicilio">
                    <LoadingTemplate>
                        <SemaforoEspera Texto="@_TituloComprobanteDomicilio" Semaforo="@model.Validaciones.SemaforoComprobanteDomicilio"></SemaforoEspera>
                    </LoadingTemplate>
                    <ContentTemplate>
                        @if (validacionComprobanteDomicilio != null)
                        {
                            <div class="mbz-card-ficha-sem">
                                <div class="mbz-ficha-sem-row">
                                    <div class="mbz-ficha-sem-1">
                                        <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoComprobanteDomicilio" Estilo="mbz-span-sem-36"></SemaforoColor>
                                    </div>
                                    <div class="mbz-ficha-sem-2">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloComprobanteDomicilio</span>
                                    </div>
                                    <div class="mbz-ficha-sem-3">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                                @onclick="@OnMostrarComprobanteDomicilio"
                                                disabled=@isLoadingComprobanteDomicilio>
                                            <span>@(mostrarComprobanteDomicilio ? "Ocultar" : "Ver")</span>
                                        </button>
                                    </div>
                                </div>
                                <div style="@(mostrarComprobanteDomicilio ? string.Empty: "display: none")">
                                    <SemaforoComprobante Model="@validacionComprobanteDomicilio" FormatoDocumento="@formatoComprobanteDomicilio" Comprobante="@documentoComprobanteDomicilio.Documento"></SemaforoComprobante>
                                </div>
                            </div>
                        }
                        else
                        {
                            <SemaforoError Texto="@_TituloComprobanteDomicilio" TipoRecarga="@TipoSemaforo.ComprobanteDomicilio" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                        }
                    </ContentTemplate>
                </SpinLoader>
            }

            @if (_documentoIdComprobanteBancario > 0)
            {
                <SpinLoader IsLoading="isLoadingComprobanteBancario">
                    <LoadingTemplate>
                        <SemaforoEspera Texto="@_TituloComprobanteBancario" Semaforo="@model.Validaciones.SemaforoComprobanteBancario"></SemaforoEspera>
                    </LoadingTemplate>
                    <ContentTemplate>
                        @if (validacionComprobanteBancario != null)
                        {
                            <div class="mbz-card-ficha-sem">
                                <div class="mbz-ficha-sem-row">
                                    <div class="mbz-ficha-sem-1">
                                        <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoComprobanteBancario" Estilo="mbz-span-sem-36"></SemaforoColor>
                                    </div>
                                    <div class="mbz-ficha-sem-2">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloComprobanteBancario</span>
                                    </div>
                                    <div class="mbz-ficha-sem-3">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                                @onclick="@OnMostrarComprobanteBancario"
                                                disabled=@isLoadingComprobanteBancario>
                                            <span>@(mostrarComprobanteBancario ? "Ocultar" : "Ver")</span>
                                        </button>
                                    </div>
                                </div>
                                <div style="@(mostrarComprobanteBancario ? string.Empty: "display: none")">
                                    <SemaforoComprobante Model="@validacionComprobanteBancario" FormatoDocumento="@formatoComprobanteBancario" Comprobante="@documentoComprobanteBancario.Documento"></SemaforoComprobante>
                                </div>
                            </div>
                        }
                        else
                        {
                            <SemaforoError Texto="@_TituloComprobanteBancario" TipoRecarga="@TipoSemaforo.ComprobanteBancario" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                        }
                    </ContentTemplate>
                </SpinLoader>
            }

            @if (_documentoIdComprobanteIngresos > 0)
            {
                <SpinLoader IsLoading="isLoadingComprobanteIngresos">
                    <LoadingTemplate>
                        <SemaforoEspera Texto="@_TituloComprobanteIngresos" Semaforo="@model.Validaciones.SemaforoComprobanteIngresos"></SemaforoEspera>
                    </LoadingTemplate>
                    <ContentTemplate>
                        @if (validacionComprobanteIngresos != null)
                        {
                            <div class="mbz-card-ficha-sem">
                                <div class="mbz-ficha-sem-row">
                                    <div class="mbz-ficha-sem-1">
                                        <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoComprobanteIngresos" Estilo="mbz-span-sem-36"></SemaforoColor>
                                    </div>
                                    <div class="mbz-ficha-sem-2">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloComprobanteIngresos</span>
                                    </div>
                                    <div class="mbz-ficha-sem-3">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                                @onclick="@OnMostrarComprobanteIngresos"
                                                disabled=@isLoadingComprobanteIngresos>
                                            <span>@(mostrarComprobanteIngresos ? "Ocultar" : "Ver")</span>
                                        </button>
                                    </div>
                                </div>
                                <div style="@(mostrarComprobanteIngresos ? string.Empty: "display: none")">
                                    <SemaforoComprobante Model="@validacionComprobanteIngresos" FormatoDocumento="@formatoComprobanteIngresos" Comprobante="@documentoComprobanteIngresos.Documento"></SemaforoComprobante>
                                </div>
                            </div>
                        }
                        else
                        {
                            <SemaforoError Texto="@_TituloComprobanteIngresos" TipoRecarga="@TipoSemaforo.ComprobanteIngresos" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                        }
                    </ContentTemplate>
                </SpinLoader>
            }

            <SpinLoader IsLoading="isLoadingListas">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_TituloListas" Semaforo="@(model == null ? null : model.Validaciones.SemaforoListaAml)"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (validacionListas != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                    <SemaforoColor NombreSemaforo="@model.Validaciones.SemaforoListaAml" Estilo="mbz-span-sem-36"></SemaforoColor>
                                </div>
                                <div class="mbz-ficha-sem-2">
                                    <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloListas</span>
                                </div>
                                <div class="mbz-ficha-sem-3">
                                    <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarListas = !mostrarListas">
                                        <span>@(mostrarListas ? "Ocultar" : "Ver")</span>
                                    </button>
                                </div>
                            </div>
                            <div style="@(mostrarListas ? string.Empty: "display: none")">
                                <SemaforoListaAml Model="@validacionListas"></SemaforoListaAml>
                            </div>
                        </div>
                    }
                    else
                    {
                        <SemaforoError Texto="@_TituloListas" TipoRecarga="@TipoSemaforo.ListasInteres" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                    }
                </ContentTemplate>
            </SpinLoader>

            @if (model.ExisteAvisoPrivacidad)
            {
                <div class="m-4"></div>

                <div class="pt-2 pb-2">
                    <span class="mbz-font-STextOffice-B-20">Aviso de privacidad</span>
                </div>

                <SpinLoader IsLoading="isLoadingPrivacidad">
                    <LoadingTemplate>
                        <SemaforoEspera Texto="@_TituloAvisoPrivacidad" Semaforo=""></SemaforoEspera>
                    </LoadingTemplate>
                    <ContentTemplate>
                        @if (validacionPrivacidad != null)
                        {
                            <div class="mbz-card-ficha-sem">
                                <div class="mbz-ficha-sem-row">
                                    <div class="mbz-ficha-sem-1">
                                    </div>
                                    <div class="mbz-ficha-sem-2">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_TituloAvisoPrivacidad</span>
                                    </div>
                                    <div class="mbz-ficha-sem-3">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14"
                                                @onclick="@OnMostrarPrivacidad"
                                                disabled=@isLoadingPrivacidad>
                                            <span>@(mostrarPrivacidad ? "Ocultar" : "Ver")</span>
                                        </button>
                                    </div>
                                </div>
                                <div style="@(mostrarPrivacidad ? string.Empty: "display: none")">
                                    <SemaforoPrivacidad DocumentoPdf="@validacionPrivacidad.Imagen"></SemaforoPrivacidad>
                                </div>
                            </div>
                        }
                        else
                        {
                            <SemaforoError Texto="@_TituloAvisoPrivacidad" TipoRecarga="@TipoSemaforo.Privacidad" OnRecargarSemaforo="@OnRecargarSemaforo"></SemaforoError>
                        }
                    </ContentTemplate>
                </SpinLoader>
            }

            <div class="m-4"></div>

            <div class="pt-2 pb-2">
                <span class="mbz-font-STextOffice-B-20">Estado de la solicitud</span>
            </div>

            <SpinLoader IsLoading="isLoadingModel">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_tituloResolucion"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (model != null)
                    {
                        <div class="mbz-card-ficha-sem">
                            <div class="mbz-ficha-sem-row">
                                <div class="mbz-ficha-sem-1">
                                </div>
                                @if (model.Resolucion.TipoResolucionId == 0)
                                {
                                    <div class="mbz-ficha-sem-21">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@_tituloResolucion</span>
                                    </div>
                                    <div class="mbz-ficha-sem-31">
                                        <button type="button" class="btn mbz-btn-danger mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="(() => OnResolucion(false))">Rechazar</button>
                                    </div>
                                    <div class="mbz-ficha-sem-32">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="(() => OnResolucion(true))">Aceptar</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="mbz-ficha-sem-2">
                                        <span class="mbz-font-STextOffice-B-16 mbz-text-dark">@model.Resolucion.TipoResolucionNombre</span>
                                    </div>
                                    <div class="mbz-ficha-sem-3">
                                        <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="e => mostrarResolucion = !mostrarResolucion">
                                            <span>@(mostrarResolucion ? "Ocultar" : "Ver")</span>
                                        </button>
                                    </div>
                                }
                            </div>
                            @if (mostrarResolucion)
                            {
                                <SemaforoEstado Motivo="@model.Resolucion.Comentario"></SemaforoEstado>
                            }
                        </div>
                    }
                </ContentTemplate>
            </SpinLoader>

            <div class="m-4">
            </div>

            <SpinLoader IsLoading="isLoadingModel">
                <LoadingTemplate>
                    <SemaforoEspera Texto="@_tituloOrigen"></SemaforoEspera>
                </LoadingTemplate>
                <ContentTemplate>
                    @if (model != null)
                        @if (model.Solidarios != null)
                        {
                            <div class="pt-2 pb-2">
                                <span class="mbz-font-STextOffice-B-20">@_tituloOrigen</span>
                            </div>

                            <div class="mbz-card-ficha-sem" style="padding: 10px 30px;">
                                <table class="mbz-font-STextOffice-12" style="width: 100%;">
                                    <tbody>
                                        @{int i = 0;}
                                        @foreach (var item in model.Solidarios)
                                        {
                                            <tr style="@(i>0 ? "border-top: 1px solid #7F7F7F;" : "")">
                                                <td style="width: 158px; height: 110px;"></td>
                                                <td style="width:562px;">
                                                    <span class="mbz-font-STextOffice-B-22 mbz-text-dark" style="height: 25px;">@item.SolicitanteNombre</span>
                                                    <br />
                                                    <span class="mbz-font-STextOffice-B-22 mbz-text-dark" style="height: 25px;">@item.SolicitanteApellidoPaterno @item.SolicitanteApellidoMaterno</span>
                                                    <br />
                                                    <span class="mbz-font-STextOffice-B-12 mbz-text-info">@item.TipoCliente</span>
                                                </td>
                                                <td style="width: 168px;">
                                                    <button type="button" class="btn mbz-btn-primary mbz-btn-h-28 mbz-font-STextOffice-B-14" @onclick="(() => OnAccion(item.SolicitanteId))">Ir a @item.TipoCliente</button>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </ContentTemplate>
                </SpinLoader>

            </div>
        }
</div>

@if (popupOpen)
{
    <MercedesBenzServerWeb.Pages.Popup.PopupPregunta Texto=@mensajePopup OnClose="@OnPopupClose"></MercedesBenzServerWeb.Pages.Popup.PopupPregunta>
}

@if (popupOpenComent)
{
    <MercedesBenzServerWeb.Pages.Popup.PopupComentario Texto=@mensajePopupComent OnClose="@OnPopupComentClose"></MercedesBenzServerWeb.Pages.Popup.PopupComentario>
}
